* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
    text-decoration: none;
}

a{
    text-decoration: none;
}

h1 {
    font-size: 50px;
    line-height: 40px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 40px;
    color: #222;
    font-weight: 100;
}

h4 {
    font-size: 16px;
    color: #222;

}

h6 {
    font-size: 700;
    font-weight: 700;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    height: 80px;
    width: 100%;
    background: #309ea2;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#header .logo {
    display: flex;
    align-items: center;
}

#header .logo img {
    max-height: 80px;
}

#header .logo-text h1 {
    font-size: 28px;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 1000;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-left: 20px;
  }

  #header .logo a {
    color: #fff;
  }

  #header .logo img {
    max-height: 80px;
  }

#navbar {
    display: flex;
    align-items: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    transition: 0.3s ease;
    position: relative;
}

#navbar {
    display: flex;
    align-items: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    transition: color 0.3s ease; /* Added transition for color change */
    position: relative;
}

#navbar li a.active,
#navbar li a:hover {
    color: #000000; /* Set text color to black */
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 100%;
    height: 2px;
    background: #000000;
    position: absolute;
    bottom: -4px;
    left: 0;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #e9feff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,1);
    padding: 10px;
    min-width: 120px;
    height: 410px;
    left: -10px;
    top: 25px;
}

 .dropdown-menu li {
    display: block;
    padding: 15px 5px;
    white-space: nowrap;
}

#navbar .dropdown-menu li a {
    display: block;
    padding: 10px 0px;
    text-decoration: none;
    color: #309ea2; /* Set dropdown text color */
}

#navbar .dropdown-menu li a.active,
#navbar .dropdown-menu li a:hover {
    color: #000000; /* Set text color to black */
}

#navbar .dropdown-menu li a.active::after,
#navbar .dropdown-menu li a:hover::after {
    content: "";
    width: 100%;
    height: 2px;
    background: #000000;
    position: absolute;
    bottom: -4px;
    left: 0;
}


#mobile{
    display: none;
    align-items: center;
}

#close {
    display: none;
}




.container_login {
    max-width: 450px;
    margin: 50px auto;
    padding: 20px;
    padding-top: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-size: 16px;
    color: #333;
    display: block;
    margin-bottom: 8px;
}

input[type="text"],
input[type="phone_number"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    display: block;
}

button:hover {
    background-color: #0056b3;
}

.error {
    color: #dc3545;
    font-size: 14px;
    margin-top: 5px;
}

p {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

p a {
    color: #007bff;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

.alert-custom {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center; /* Add this line */
}

.alert-custom2 {
    background-color: #edd4d4;
    border-color: #e6c3c3;
    color: #571515;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center; /* Add this line */

}

.error-message {
    color: red;
    font-size: 0.8em;
    margin-top: 5px;
    padding-bottom: 5px;
}


/* Media Query for Mobile */
@media screen and (max-width: 480px) {
    .container_login {
        margin: 20px;
        padding: 10px;
        border-radius: 5;
        box-shadow: none;
    }

    input[type="text"],
    input[type="Number"],
    input[type="password"],
    button {
        padding: 8px 12px;
        font-size: 14px;
    }
}

.background-image {
    position: relative;
    text-align: center;
}

.background-image img {
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.5); /* Dark semi-transparent overlay */
}

/* Admin Dashboard Styles */
.admin-dashboard {
    position: absolute;
    top: 40%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center the admin dashboard */
    z-index: 1; /* Ensure it's on top of the background image */
}

.content {
    margin-top: 50px;
}


.button-container {
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center the buttons horizontally */
}

.button {
    /* Keep other button styles the same */
    padding: 10px 10px;
    margin: 0 5px; /* Add small margin between buttons */
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; /* Remove default link underline */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.button:hover {
    background-color: #4c4eaf; /* Darken background on hover */
}

.arrow {
    margin-left: 5px;
}

.content h2 {
    color: white; /* Change the color to white */
}

/* Unique identifier */
#admin-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

#admin-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#admin-table th, #admin-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

#admin-table th {
    background-color: #f2f2f2;
}

#admin-table img {
    max-width: 100px;
    height: auto;
}

.admin-button {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.admin-button.edit {
    background-color: #3498db;
    color: #fff;
    border: none;
}

.admin-button.edit:hover {
    background-color: #2980b9;
}

.admin-button.delete {
    background-color: #e74c3c;
    color: #fff;
    border: none;
}

.admin-button.delete:hover {
    background-color: #c0392b;
}

/* CSS for modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto; /* Center the modal horizontally */
    margin-top: 15%; /* Center the modal vertically */
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    max-width: 500px; /* Set a maximum width for the modal */
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3); /* Add shadow effect */
    border-radius: 5px; /* Add some border radius */
}

/* Center the buttons */
.modal-content div {
    text-align: center;
}

/* Style for buttons */
.modal-content button {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
}

/* Style for confirm button */
#confirmDeleteBtn {
    background-color: #dc3545;
    color: #fff;
}

/* Style for cancel button */
#cancelDeleteBtn {
    background-color: #007bff;
    color: #fff;
}

/* Hover effect for buttons */
.modal-content button:hover {
    opacity: 0.8;
}

/* Center the modal content on small screens */
@media screen and (max-width: 600px) {
    .modal-content {
        width: 80%;
    }
}


.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #eff9ff;

}

.footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}


.footer .logo {
    padding: -1000px;

}

.footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}

.footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
}

.footer a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

.footer .Follow {
    margin-top: 20px;
}

.footer .Follow i {
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

.footer .install img {
    margin: 10px 0 15px 0;
}

.footer .Follow i:hover,
.footer a:hover {
    color: #e30d0d;
}

.footer .copyright {
    width: 100%;
    text-align: center;
}

.footer .copyright p {
    color: #ff0000;
}

@media (max-width:799px) {
    .section-p1 {
        padding: 40px 40px;
    }
    .section-p1new {
        padding: 40px 40px;
    }
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.01);
        padding: 80px 0 0 10px;
        transition: 0.3s;

    }

    #navbar.active {
        right: 0px;

    }

    #navbar li {
        margin-bottom: 25px;
    }

    #mobile{
        display: flex;
        align-items: center;
    }

    #mobile i {
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;

    }

    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }

    #lg-bag {
        display: none;
    }

    #hero {
        height: 100vh;
        padding: 0 80px;
        background-position: top 30% right 30% ;
    }

    #feature {
        justify-content: center;
    }

    #feature .fe-box {
        margin: 15px 15px;
    }

    #productz1 .pro-container {
        justify-content: center;
    }

    #productz1 .pro {
        margin: 15px;

    }

    #banner {
        height: 20vh;
    }

    #sm-banner .banner-box {
        min-width: 100%;
        height: 30vh;
    }

    #banner3 {
        padding: 0 40px;
    }

    #banner3 .banner-box {
        width: 28%;
    }

    #newsletter .form {
        width: 70%;
    }
}

@media (max-width: 447px ) {
    .section-p1{
        padding: 20px;
    }
    .section-p1new{
        padding: 20px;
    }
    #header {
        padding: 10px 30px;
    }

    h1 {
        font-size: 38px;
    }

    h2 {
        font-size: 32px;
    }

    .footer .copyright {
        text-align: start;
    }


}